@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes moveImageHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

html,
body {
  @apply min-h-screen bg-white text-neutral-700;
}

.paper-title,
.conference-name {
  @apply cursor-pointer underline text-neutral-800 hover:text-blue-600;
}

@keyframes marquee-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-marquee-slow {
    animation: marquee-slow 60s linear infinite;
  }
}
